#Removing original files to not break any copyright or licence infringements.
*ORIGINAL*

#Removing compressed packages due to no readability on github and to not store duplicated files. Those are used only for purposes of easier storage and movability.
*.tar.lrz